# Node modules (if using Node.js)
node_modules/

# Build directories
dist/
build/

# Log files
*.log

# Environment configuration files
.env

# Operating system files
.DS_Store

# IDE-specific files
.idea/
.vscode/

# macOS-specific files
*.swp
*.swo
